title #{title}
meta(charset='utf-8')
link(rel='stylesheet', href='/static/site/css/style.css')
script(type='text/javascript', src='/static/site/vendor/jquery-2.2.3.min.js')
script(src='/static/site/js/script.js')